<?xml version="1.0" encoding="UTF-8" ?>
<SysMenus>
    <SysMenu>
        <menuId>1606</menuId>
        <menuName>房间类型</menuName>
        <orderNum>2</orderNum>
        <path>roomType</path>
        <component>hotel/roomType/index</component>
        <queryParam/>
        <isFrame>1</isFrame>
        <isCache>0</isCache>
        <menuType>C</menuType>
        <visible>0</visible>
        <status>0</status>
        <perms>hotel:roomType:index</perms>
        <icon>system</icon>
        <remark>系统管理目录</remark>
        <parentId>1611941206873186305</parentId>
    </SysMenu>
</SysMenus>
