<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workers.mapper.IndexMapper">

    <select id="selectIndex" resultType="com.example.workers.vo.IndexVo">
        select *
        from sys_user u
                 left join leave_record lr on
            (u.user_id = lr.employee_id and
             date_format(lr.start_date, '%Y-%m-%d') &lt;= date_format(now(), '%Y%m%d') and
             date_format(lr.end_date, '%Y-%m-%d') &gt;= date_format(now(), '%Y%m%d'))
                 left join attendance_record ar on
            (ar.employee_number = u.employee_number and
             date_format(ar.date, '%Y-%m-%d') = date_format(now(), '%Y%m%d') )
        where u.del_flag = '0'
    </select>
</mapper>
